/* ==========================================================================
   Layout
   ========================================================================== */

.layout_main {
	width: 1000px;
	margin: auto;
}

/* ==========================================================================
   logo
   ========================================================================== */

.logo {
	width: 196px;
	height: 60px;
	display: inline-block;
	-webkit-background-size: cover;
	background-size: cover;
}

/* ==========================================================================
   Logo
   ========================================================================== */

/* ==========================================================================
   Navigation
   ========================================================================== */

.menu__toggler {
	position: absolute;
	font-size: 0;
	width: 40px;
	height: 40px;
	border-radius: 50px;
	background-color: $white;
	border: none;
	top: 10px;
	right: 10px;
}

.menu__list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: none;
	position: absolute;
	border-bottom: none;
	right: 0px;
	top: 60px;
	background-color: rgba(22, 116, 209, .5);
}

.menu__list--shown {
	display: block;
}

.nav_main {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.nav_i {
	text-transform: uppercase;
	padding: 20px

}

.nav_ul li a {
	color: #fff;
	transition: .5s
}

.nav_ul li a:hover {
	color: #1674d1
}

.layout_main {
	width: 100%;
}

.intro_txt {
	padding: 0 15px;
}

.h2 {
	font-size: 49px;
}

@media (max-width: 320px) {
	.layout_main {
		max-width: 100%;
	}
	.header {
		position: static !important;
	}
}

@media (min-width: 320px) {
	.layout_main {
		width: 100%;
	}

	.container {
		overflow-x: hidden;
	}
}

@media (min-width: 826px) {
	.menu__list {
		margin: 0;
		padding: 0;
		list-style-type: none;
		display: inline-flex;
		flex-direction: row;
		position: static;
		border-bottom: none;
		background-color: transparent;
	}

	.nav_ul {
		list-style-type: none;
		display: flex;
		flex-direction: row;
	}

	.menu__toggler {
		display: none;
	}

	.h2 {
		font-size: 55px;
	}

	.intro_txt {
		padding: 0px;
	}
}

/* ==========================================================================
   Navigation
   ========================================================================== */

/* ==========================================================================
   Header
   ========================================================================== */

.header {
	background-color: rgba(22, 116, 209, .5);
	will-change: transform;
	transform: translateZ(0);
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

}

/* ==========================================================================
   Header
   ========================================================================== */

/* ==========================================================================
   Intro
   ========================================================================== */

.intro {
	width: 100%;
	padding: 120px 0 80px 0;
	background-size: cover;
	text-align: center;
	background-position: center
}

.intro_img {
	max-width: 100%;
	margin: auto
}

.h3 {
	color: $white;
	letter-spacing: 2px;
}

.h2 {
	color: $yellow;
}

.intro_txt {
	font-size: 16px;
	margin: 40px auto;
	color: $white;
	max-width: 600px;
}

/* ==========================================================================
   Intro
   ========================================================================== */

/* ==========================================================================
   About
   ========================================================================== */

.about-block {
	padding-top: 80px;
	padding-bottom: 80px;
	background-color: #fff;
	text-align: center;
}

.about-block_h2 {
	color: $primary-col;
}

.about-block_h3 {
	letter-spacing: 14px;
	font-size: 16px;
	font-weight: 400
}

.about-block_p {
	margin: 26px 0;
	text-align: justify;
	color: $desc-text;
	padding: 0 15px;
}

.about-block_content {
	display: flex;
	flex-direction: column;
}

.about-block_h4 {
	color: $about-col;
	text-align: center;
	font-size: 18px
}

.about-block_ul {
	padding-left: 0px;
	display: inline-block;
}

.about-block_li {
	text-align: left;
	margin: 40px 0;
}

.about-block_li a {
	color: #0f0f0f;
	margin-left: 22px;
	font-size: 12px;
	&:hover {
		color: #1674d1;
	}
}

.about-block_li hr {
	display: inline-block;
	border-top: 1px solid #eee;
	width: 80px;
	margin: 0 20px;
}

.about-block_icon {
	width: 40px;
	height: 40px;
}

@media (min-width: 826px) {
	.about-block_p {
		padding: 0 15px;
	}

	.about-block_content {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.about-block_ul {
		padding-left: 24px;
		display: inline-block;
	}

	.about-block_li a {
		color: #0f0f0f;
		margin-left: 22px;
		font-size: 16px;
	}
}

/* ==========================================================================
   About
   ========================================================================== */

/* ==========================================================================
   Courses
   ========================================================================== */

.courses-block {
	height: 100%;
	background-size: cover;
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;
}

.courses-block_h2 {
	color: $white;
	font-size: 48px;
}

.courses-details-list p {
	margin: 26px 0
}

.courses-block_courses {
	display: flex;
	flex-direction: column;
	padding: 0 40px;
}

.courses-block_default {
	box-sizing: border-box;
	position: relative;
	padding: 36px 48px;
	background-color: $color-default;
	width: 100%;
	color: $white;
}

.courses-block_frontend, .courses-block_java, .courses-block_qa {
	height: 420px;
	background-size: 33%;
	background-repeat: no-repeat;
	background-position: center 40%;
	margin-bottom: 30px;
}

.courses-block_frontend {
	background-image: url(../img/html5.png)
}

.courses-block_qa {
	background-image: url(../img/qa.png)
}

.courses-block_java {
	background-image: url(../img/java.png);
	margin-bottom: 0;
}

.courses-block_view {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(23, 49, 73, .8);
	opacity: 0;
	transition: .6s
}

.courses-block_view:hover {
	opacity: 1
}

.courses-block_inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 40px
}

.courses-block_p {
	bottom: 0;
	left: 0;
	right: 0;
	color: $white;
	position: absolute;
	height: 40%;
	padding: 0 24px
}

.courses-block_margin {
	margin: 10px 0;
}


@media (min-width: 700px) {
	.courses-block_default {
		width: 400px;
		margin: 10px auto;
	}
}

@media (min-width: 960px) {
	.courses-block_h2 {
		color: $white;
		font-size: 55px;
	}

	.courses-block_courses {
		display: flex;
		flex-direction: row;
		padding: 0 15px;
	}

	.courses-block_margin {
		margin: 0px 30px;
	}

	.courses-block_java {
		margin-bottom: 30px;
	}

	.courses-block_default {
		min-height: 450px;
		margin: 0 10px;
	}

}

@media (min-width: 1400px) {
	.courses-block_courses {
		padding: 0 150px;
		justify-content: center;
	}
}

/* ==========================================================================
   Courses
   ========================================================================== */

/* ==========================================================================
   Courses-steps
   ========================================================================== */

.courses-steps {
	position: relative;
	text-align: center;
	padding-top: 40px;
	padding-bottom: 70px;
}

.courses-steps_h2 {
	color: $primary-col;
	line-height: 1.3;
}

.courses-steps_h3 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 5px;
	padding: 0 10px;
}

.courses-steps_list {
	margin: 34px 0;
	padding: 0 15px;
}

.courses-block_details, .courses-steps_list {
	list-style-type: square;
	display: inline-block;
	color: $desc-text;
	text-align: left
}

.courses-steps_list li {
	margin: 26px 16px;
	color: $step1;
}

.courses-steps_list li:nth-of-type(2) {
	color: $step2;
}

.courses-steps_list li:nth-of-type(3) {
	color: $step3;
}

.courses-steps_list li span {
	color: $desc-text;
}

.courses-steps_img-right {
	position: absolute;
	top: 4%;
	right: 0;
	width: 11%
}

.courses-steps_img-left {
	position: absolute;
	bottom: 350px;
	left: 0;
	width: 13%
}

.graduation-details-header {
	color: $step3;
	font-weight: 400;
}

.courses-block_details p {
	text-align: justify;
	max-width: 530px;
}

.courses-block_details {
	padding: 0 15px;
}

/* ==========================================================================
   Courses-steps
   ========================================================================== */

/* ==========================================================================
   Courses-requirements
   ========================================================================== */

.courses-requirements {
	text-align: center;
	min-width: 100%;
	height: 100%;
	background-size: cover;
	padding-top: 70px;
	padding-bottom: 70px;
}

.courses-requirements_a {
	margin-top: 42px;
}

.courses-requirements_h2 {
	letter-spacing: 1px;
	margin: 28px 0;
	font-size: 48px;
	font-weight: 400;
	color: $white;
}

.courses-requirements_box {
	min-height: 515px;
	margin-bottom: 30px;
}

.courses-requirements_align {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0 40px;
}

.courses-requirements_description {
	padding: 18px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.courses-requirements_list {
	margin-left: 20px;
	text-align: left;
	font-weight: 200
}

.courses-requirements_list li {
	margin: 15px 0;
	font-size: 14px;
	&:before {
		content: '\2014';
		position: absolute;
		margin-left: -20px;
	}
}

@media (min-width: 600px) {
	.courses-requirements_align {
		padding: 0 60px;
	}
}

@media (min-width: 700px) {
	.courses-requirements_box {
		width: 400px;
		margin: 10px auto;
	}
}

@media (min-width: 960px) {
	.courses-requirements_align {
		flex-direction: row;
		justify-content: center;
	}
	.courses-requirements_h2 {
		font-size: 55px;
	}

	.courses-requirements_box {
		width: 400px;
		margin: 10px;
	}

}

/* ==========================================================================
   Courses-requirements
   ========================================================================== */

/* ==========================================================================
   Team
   ========================================================================== */

.team-block {
	display: flex;
	flex-direction: column;
	padding-top: 80px;
}

.team-block h2 {
	font-size: 48px;
}

.team-block_h3 {
	text-align: center;
	letter-spacing: 14px;
	font-size: 16px;
	font-weight: 400;
}

.team-block_inline {
	display: flex;
	flex-wrap: wrap;
	margin-top: 30px;
}

.team-stuff {
	position: relative;
	width: 100%;
	max-width: 100%;
	max-height: 100%
}

.team-block_content {
	flex-basis: 250px;
	flex-grow: 1;
}

.team-stuff-img {
	width: 100%
}

.team-stuff_shadow {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(17, 17, 17, .9);
	opacity: 0;
	transition: .4s
}

.team-stuff_shadow:hover {
	opacity: 1;
}

.team-shadow-overlay-inner {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: center
}

.team-stuff_shadow h4 {
	color: #fff;
	font-size: 6px;
	display: inline-flex;
	line-height: 19px;
	font-weight: 400;
	transform: scale(1.1);
	letter-spacing: .5em;
	transition: .4s;
	text-transform: uppercase;
	margin-bottom: 10px;
	margin-top: 35px
}

.team-stuff_shadow:hover h4 {
	color: #fff;
	font-size: 15px;
	line-height: 19px;
	font-weight: 400;
	margin: 0 0 35px;
	transition: .4s;
	transform: scale(1);
	opacity: 1;
	letter-spacing: .3em
}

.collapse-team {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

@media (min-width: 900px) {
	.team-block h2 {
		font-size: 55px;
	}
}

/* ==========================================================================
   Team
   ========================================================================== */

/* ==========================================================================
   Faq
   ========================================================================== */

.faq-block {
	width: 100%;
	background-color: $faq;
	text-align: center;
	position: relative;
	padding-top: 60px;
}

.faq-block_h3 {
	color: $about-col;
	font-size: 15px;
}

.faq-block a {
	color: $about-col;
	font-size: 15px;
}

.faq-block ol, .faq-block p {
	color: $color-faq;
	font-size: 14px;
}

.faq-questions_list {
	margin: 62px 0;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;

}

.faq-questions_list li {
	margin: 32px 0;
	cursor: pointer;
	a:before {
		content: "\f054";
		color: #1674d1;
		margin-right: 6px;
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
	}
}

.faq-questions_list li a[aria-expanded=true]:before {
	content: "\f078";
}

.faq-answers ol {
	margin-left: 34px
}

.faq-answers p {
	margin-left: 18px
}

.faq-img_left {
	width: 13%;
	position: absolute;
	top: 8%;
	left: 0
}

.faq-img_right {
	width: 13%;
	position: absolute;
	bottom: 10%;
	right: 0
}

/* ==========================================================================
   Faq
   ========================================================================== */

/* ==========================================================================
   Partners
   ========================================================================== */
.partners-block {
	position: relative;
	padding-bottom: 60px;
}

.partners-block h2 {
	font-size: 48px;
}

@media (min-width: 900px) {
	font-size: 55px;
}

/* ==========================================================================
   Partners
   ========================================================================== */

/* ==========================================================================
   Footer
   ========================================================================== */

.footer-block {
	position: relative;
	background-color: $footer;
	padding: 100px 0;
}

.footer-block_flex {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.footer-block_p, .footer-block_a {
	font-size: 12px;
	color: $desc-text;
}

.footer-block_widget {
	margin-bottom: 30px;
}

.footer-block_figure {
	margin-left: 0;
}

.footer-contacts {
	font-size: 12px;
	text-transform: uppercase;
	color: $white;
	margin: 4px 0 31px
}

.footer-block_width {
	max-width: 250px;
}

@media (min-width: 700px) {
	.footer-block_flex {
		display: flex;
		justify-content: space-between;
		padding: 0 20px;
		flex-direction: row;
		align-items: center;
	}
}

/* ==========================================================================
   Footer
   ========================================================================== */

/* ==========================================================================
   social-links
   ========================================================================== */

.social-links-block {
	padding: 30px;
	line-height: 1;
	background-color: $social;
	letter-spacing: .08em;
	font-size: 13px;
	color: #666;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.social-links-block_ul {
	display: flex
}

.social-links-block_ul li {
	float: left;
	margin: 0 28px 0 0
}

.social-links-block_ul li a {
	font-size: 16px;
	color: $white;
	transition: .5s
}

.social-links-block_ul li a:hover {
	color: $hover;
}

.copyright {
	text-align: center;
	margin-top: 10px;
}

@media (min-width: 700px) {

	.social-links-block {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}
}

/* ==========================================================================
   social-links
   ========================================================================== */



