
body {
	position: relative;
	font-family: 'Source Sans Pro', sans-serif;
	letter-spacing: 1px;
}



button {
	outline: 0;
	border: none
}

a {
	color: $white;
	text-decoration: none;
}

a:hover {
	background-color: transparent;
}

ul {
	list-style-type: none;
	margin: 0
}

ol, ul {
	padding-left: 0
}

li, p {
	text-transform: none;
	font-size: 15px
}

h2 {
	letter-spacing: 1px;
	margin: 28px 0;
	font-size: 55px;
	font-weight: 400
}

h3 {
	font-size: 24px;
	margin: 20px 0;
	font-weight: 500
}

h4 {
	font-size: 22px;
	margin: 10px 0;
	font-weight: 400
}

h5 {
	font-size: 32px;
	font-weight: 400;
	margin: 0;
	color: $white;
}


.container {
	min-width: 320px;
}

.helvetica {
	font-family: 'Helvetica Regular';
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.uppercase {
	text-transform: uppercase
}

.button-default {
	display: inline-block;
	cursor: pointer;
	color: #fff;
	background-color: #06c;
	padding: 18px 48px;
	font-weight: 700;
	transition: .8s
}

.button-default:hover {
	border-color: #458bd1;
	background-color: #458bd1
}

.no-hover {
	pointer-events: none !important
}

.no-margin {
	margin-top: 0;
	margin-bottom: 0
}

.no-padding {
	padding: 0;
	margin: 0
}


.text-center {
	text-align: center;
}

#scrollBtn {
	display: block;
	position: fixed;
	cursor: pointer;
	z-index: 2;
	right: 40px;
	bottom: 40px;
	text-align: center;
	border: 2px solid #1674d1;
	will-change: transform;
	transform: translateZ(0);
	font-size: 20px;
	opacity: .8;
	height: 40px;
	width: 40px;
	color: #1674d1;
	background: 0 0;
	transition: .5s
}

#scrollBtn:hover {
	background-color: #1674d1;
	color: #fff
}





