$white: #fff;
$yellow: #fc3;
$primary-col: #1674d1;
$desc-text: #999;
$about-col: #1674d1;
$color-default: #3fa0ff;
$step1: #ac3896;
$step2: #fed030;
$step3: #1674d1;
$color-faq: #757575;
$footer: #222;
$hover: #458bd1;
$faq: #e5e9ee;
$social: #333;